body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
    padding: 10px;
}

h2, h3 {
    text-align: center;
}

input, select, button {
    width: 95%;
    padding: 8px;
    margin: 6px 0;
    font-size: 16px;
}

button {
    background-color: #1f3c88;
    color: white;
    border: none;
}

button:active {
    opacity: 0.8;
}
